body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  background: url('https://th.bing.com/th/id/R.179a6235fe882a83696cd45043b5f154?rik=QZTPWi39DmrrHQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fE7VdJQX.jpg&ehk=6YuqKfNcDqXfudf06cenoRqNhTZhardQocdPrhuoRgQ%3d&risl=&pid=ImgRaw&r=0') no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  margin-top: 60px;
  color: #fff;
}


.calculadora {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 314px;
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
}

#pantalla {
  width: 90%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
}
button{
  width: 70px;
  height: 40px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
button > i{
  font-size: 16px;
}
button:hover{
  background-color: #ddd;
}

input[type="button"] {
  width: 70px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #ddd;
}

input[type="button"]:last-child {
  margin-right: 0;
}
